.App{
  text-align: center;
}

body {
  background-color: #FAF6EB;
}

.nav {
  margin: 7em 0em 5em 1em;
}

.forum {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.App h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 90px;
  margin-bottom: .5em;
 }

 .forum-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
 }

 .nav a {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
  background-color: #CF1307; 
 }


.btn-secondary{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 17x;
  color: white;
}

.btn-danger {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 17x;
  color: white;
}

.btn:hover {
  color: white;
  text-decoration: none;
}

.message-input {
  width: 2px
}

.ComponentBorder {
  border: 2px solid goldenrod;
  padding: 2px;
  margin: 2px;
}

.ItemBorder {
  border: 2px solid aqua;
  padding: 2px;
  margin: 2px;
  list-style: none;
}

.top {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: white;
  background-color: #CF1307; 
  margin-right: 5px;
  padding: 2px;
}

.back-to-top:focus {
  outline: none;
}